logs/
natives/
saves/
mods/
resourcepacks/
asm/
voxelmap/
voxelMap/
fonts/
crash-reports/
screenshots/
ds_private_storage.json
usercache.json
usernamecache.json
.ReAuth.cfg
*.log
/*.png
*.jar
config.json
1.12.2.json
eula.txt
banned-ips.json
banned-players.json
whitelist.json
ops.json
server.properties
servers.dat
world/
RottenEconomy-*.zip
