# Configuration file

general {
    # Mobs that are exempt from AI modifications [default: [minecraft:villager_golem]]
    S:"AI Blacklist" <
        minecraft:villager_golem
        betteranimalsplus:brownbear
        betteranimalsplus:blackbear
        betteranimalsplus:deer
        betteranimalsplus:lammergeier
        betteranimalsplus:feralwolf
        betteranimalsplus:coyote
        betteranimalsplus:fox
        betteranimalsplus:tarantula
        betteranimalsplus:hirschgeist
        betteranimalsplus:goat
        betteranimalsplus:jellyfish
        betteranimalsplus:pheasant
        betteranimalsplus:reindeer
        betteranimalsplus:boar
        betteranimalsplus:squirrel
        betteranimalsplus:songbird
        betteranimalsplus:badger
        betteranimalsplus:lamprey
        betteranimalsplus:nautilus
        betteranimalsplus:crab
        betteranimalsplus:horseshoecrab
        betteranimalsplus:shark
        betteranimalsplus:moose
        betteranimalsplus:turkey
        betteranimalsplus:zotzpyre
        betteranimalsplus:bobbit_worm
        betteranimalsplus:goose
        betteranimalsplus:eel_freshwater
        betteranimalsplus:eel_saltwater
        betteranimalsplus:whale
        betteranimalsplus:walrus
        betteranimalsplus:kermodebear
        coroutil:bat_smart
        deepmoblearning:glitch
        deepmoblearning:trial_enderman
        deepmoblearning:trial_spider
        deepmoblearning:trial_cave_spider
        deepmoblearning:trial_slime
        hoverboardmod:hoverboard
        inventorypets:entityminiquantumblaze
        inventorypets:entityminiquantumenderman
        inventorypets:entitybillgates
        inventorypets:entitysteveballmer
        inventorypets:entitysatyanadella
        inventorypets:entitylivinganvil
        inventorypets:entitylivingbed
        lcrdrfs:laser_creeper
        lcrdrfs:robo_dino
        lcrdrfs:jet_pack_spider
        mahoutsukai:familiar_entity
        mahoutsukai:kodoku_entity
        mahoutsukai:fae
        matteroverdrive:failed_pig
        matteroverdrive:failed_cow
        matteroverdrive:failed_chicken
        matteroverdrive:failed_sheep
        matteroverdrive:mad_scientist
        matteroverdrive:mutant_scientist
        matteroverdrive:rogue_android
        matteroverdrive:ranged_rogue_android
        matteroverdrive:drone
        mekanism:robit
        mekanism:babyskeleton
        raiders:raider
        raiders:brute
        raiders:witch
        raiders:tweaker
        raiders:pyromaniac
        raiders:ranger
        rpsideas:entity_summoned_clone
        securitycraft:sentry
        testdummy:dummy
     >

    # Prevents players skipping the night through sleep [default: false]
    B:"Allow Sleep"=false
    B:"Chaos Mode"=false

    # The interval in which 'hard' days will occur where mob spawning is increased and lighting is ignored (0 = off, default = 8/full moon) [range: 0 ~ 2147483647, default: 8]
    I:"Hardcore Day Cycle"=8
    B:"Hide Updates"=true

    # Maximum number of attackers per target [range: 0 ~ 128, default: 16]
    I:"Pathing Cap"=16

    # Temporary invulnerability in ticks when respawning and teleporting [range: 0 ~ 2147483647, default: 200]
    I:"Resistance Cooldown"=200
}


other {
    # Can fix some issues with long distance navigation pathing through unloaded chunks [default: true]
    B:"Alt Chunk Caching"=true

    # The factor by which mob health and damage multipliers will be increased when bosses are killed [range: 0.0 ~ 3.4028235E38, default: 0.1]
    S:"Boss Kill Modifier"=0.0

    # The upper limit of the Boss Kill Modifier [range: 0.0 ~ 3.4028235E38, default: 3.0]
    S:"Boss Modifier Cap"=3.0
    S:"Pillaring Block"=chisel:netherrack:10
}


