# Configuration file

integrations {
    B:AbyssalCraft=false
    B:ActuallyAdditions=false
    B:AdvancedRocketry=true
    B:AdvancedSolarPanels=true
    B:AppliedEnergistics2=true
    B:AstralSorcery=false
    B:BaseMetals=true
    B:BloodMagic=false
    B:Chickens=false
    B:Crafting=true
    B:DraconicEvolution=false
    B:Embers=false
    B:EnderIo=false
    B:Forestry=false
    B:ForgeCraft=true
    B:Furnace=true
    B:GadgetryCore=false
    B:GadgetryMachines=false
    B:ImmersiveEngineering=false
    B:IndustrialCraft2=true
    B:IndustrialCraft2Classic=true
    B:IndustrialForegoing=true
    B:Magneticraft=false
    B:Mekanism=true
    B:Railcraft=false
    B:TechReborn=true
    B:ThermalExpansion=true
    B:Villager=true
}


