# Configuration file

##########################################################################################################
# entities in crate drops
#--------------------------------------------------------------------------------------------------------#
# For modded mobs syntax is: modName:entityName,weight
##########################################################################################################

"entities in crate drops" {
    # Must Have a weight. [default: [Cow,10]]
    S:"Mobs contained in crate drops" <
        minecraft:slime,10
        betteranimalsplus:moose,10
        betteranimalsplus:deer,10
        betteranimalsplus:reindeer,10
        betteranimalsplus:brownbear,5
        betteranimalsplus:hirschgeist,5
        lcrdrfs:robo_dino,5
     >
}


##########################################################################################################
# items in utility crate drops
#--------------------------------------------------------------------------------------------------------#
# syntax is: modName:itemName,amount,metaData,itemWeight
##########################################################################################################

"items in utility crate drops" {
    # Happy Birthday! [default: [minecraft:redstone,5,0,1], [air_support:circuit_board,2,0,1]]
    S:"Items contained in utility crate drops" <
        minecraft:rotten_flesh,64,0,20
        contenttweaker:gritty_flesh,64,0,20
        contenttweaker:jumpy_flesh,64,0,10
        qmd:flesh,64,0,10
        scalinghealth:difficultychanger,4,0,5
        minecraft:gunpowder,64,0,20
        techguns:itemshared,64,0,15
        techguns:itemshared,64,1,20
        techguns:itemshared,64,2,15
        techguns:itemshared,64,3,15
        techguns:stielgranate,16,0,10
        icbmclassic:grenade,8,0,5
        vehicle:industrial_jerry_can,1,0,10
        vehicle:large_engine,1,4,5
        xlfoodmod:burrito,16,0,10
        hoverboardmod:aerogel,6,0,5
        minecraft:dragon_breath,8,0,3
        minecraft:nether_star,1,0,1
     >
}


"random grief drops" {
    I:"Amount of Grief Drops"=6

    # Good Luck.
    B:"Enable Random Grief Drops"=true

    # Because of Kehaan.
    B:"Only Drop TNT When Griefing"=false
    I:"Random Chance of Grief Drops lower numbers = more chance."=10
}


##########################################################################################################
# vanilla mob spawn control
#--------------------------------------------------------------------------------------------------------#
# If normal spawning is required set option to true and a re-start is required
##########################################################################################################

"vanilla mob spawn control" {
    # Bats etc.
    B:"AMBIENT Mobs can spawn in the world"=true

    # Cows, Pigs etc.
    B:"CREATURE Mobs can spawn in the world"=true

    # Zombies, Skeletons etc.
    B:"MONSTER Mobs can spawn in the world"=true

    # Squids etc.
    B:"WATER_CREATURE Mobs can spawn in the world"=true
}


